 <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="row">

                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Chỉnh sửa</strong> <small> Thông tin khách hàng</small>
                            </div>
                            <div class="card-body card-block">
                                <div class="form-group">
                                    <label class=" form-control-label">Họ và tên</label>
                                    <div class="input-group">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Số điện thoại</label>
                                    <div class="input-group">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Email</label>
                                    <div class="input-group">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Địa chỉ</label>
                                    <div class="input-group">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <button type="submit">Lưu</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit">Hủy Bỏ</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->
