<link rel="stylesheet" href="assets/css/login.css">
<form action="/" method="post">
  <div class="imgcontainer">
    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  {{#if error}}
                    <div class="col-md-12">
                        <span class="text-danger font-italic">{{error}}</span>
                    </div>
  {{/if}}
  <div class="container">
    <label for="uname"><b>Tài khoản</b></label>
    <input type="text" placeholder="Nhập tài khoản" name="username" required>

    <label for="psw"><b>Mật khẩu</b></label>
    <input type="password" placeholder="Nhập mật khẩu" name="password" required>
    <input type="submit" value="Đăng nhập">
    <label>
      <input type="checkbox" checked="checked" name="remember"> Nhớ mật khẩu
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Hủy</button>
  </div>
</form>